@font-face {
  font-family: "reross-quadratic", sans-serif;
  font-weight: 400;
  font-style: normal;  
  src: url("./fonts/MyCustomFont.ttf");
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 36px;
  font-family: "reross-quadratic", sans-serif;

  }

  .circle {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 250px;
    border-radius: 50%; 
    background-color: transparent; /* Choose your desired color */
    border-color: black;
    border: 2px solid black; 
    z-index: -1; 
    justify-content: center;
}


